// $color-1: #b9c056;
// $color-2: #88a429;
// $color-3: #9bbe1f;
// $color-4: #273f29;
// $color-5: #14253f;
// $color-6: #091327;
// $color-7: #f1f7f2;

$color-1: #757A2F;
$color-2: #677E20;
$color-3: #677F10;
$color-4: #273f29;
$color-5: #14253f;
$color-6: #091327;
$color-7: #f1f7f2;
$hoverColor: #b9c056;
$hoverTransition: all 0.3s ease-out;
$hoverShadow: 0 0 20px #000;

$white-color: #fff;
$black-color: #000;
$heading-font: "Montserrat Alternates", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html,
body,
#root,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  width: 100%;
  color: $black-color;
  overflow-x: hidden;
}
body {
  background-image: url("../img/logo-reversed.svg");
  background-attachment: fixed;
  background-position-x: right;
  background-size: contain;
  background-repeat: no-repeat;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// HEADER
.header-main {
  position: fixed;
  width: 100vw;
  top: 0;
  overflow: hidden;
  color: $white-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  z-index: 10000;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    height: 2em;
  }
  h1 {
    margin-left: 0.5em;
    font-family: $heading-font;
    display: none;
  }
}

// NAVIGATION BAR

.hamburger-menu {
  font-size: 2em;
  cursor: pointer;
}

.nav-main {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: right;
  right: 0;
  top: 13%;
  transform: translateX(200px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  a {
    cursor: pointer;
    padding: 1em;
    width: 100%;
    height: 100%;
    color: $white-color;
    text-decoration: none;
    &:hover,
    &:focus {
      border-bottom: solid 10px #b9c056;
      transition: all 1s ease-out;
    }
  }
  a:nth-child(1) {
    border-top: solid 10px $color-1;
  }
  @for $i from 1 through 6 {
    a.active:nth-child(#{$i}) {
      transition: all 0.3s ease-out;
    }
  }
  a.active:nth-child(1) {
    background-color: $color-1;
  }
  a:nth-child(2) {
    border-top: solid 10px $color-2;
  }
  a.active:nth-child(2) {
    background-color: $color-2;
  }
  a:nth-child(3) {
    border-top: solid 10px $color-3;
  }
  a.active:nth-child(3) {
    background-color: $color-3;
  }
  a:nth-child(4) {
    border-top: solid 10px $color-4;
  }
  a.active:nth-child(4) {
    background-color: $color-4;
  }
  a:nth-child(5) {
    border-top: solid 10px $color-5;
  }
  a.active:nth-child(5) {
    background-color: $color-5;
  }
  a:nth-child(6) {
    border-top: solid 10px $color-6;
  }
  a.active:nth-child(6) {
    background-color: $color-6;
  }
}
.open {
  transform: translateX(0);
  transition: transform 1s ease;
}

// HOME PAGE

.container {
  width: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;
  margin: 102vh auto 0 auto;
}

.grid-container {
  width: 320px;
  display: grid;
  justify-content: center;
  grid-template-columns: 300px;
  grid-template-rows: 300px 560px repeat(15, 300px) 560px repeat(8, 300px);
  grid-template-areas:
    "homeLogo"
    "homeIntro"
    "goalsHeader"
    "goalsItem1"
    "goalsItem2"
    "goalsItem3"
    "goalsItem4"
    "goalsItem5"
    "goalsItem6"
    "goalsItem7"
    "goalsItem8"
    "eventsHeader"
    "eventItem1"
    "eventItem2"
    "eventItem3"
    "eventItem4"
    "testimonialsHeader"
    "testimonialsItem1"
    "testimonialsButton"
    "partnersItem1"
    "partnersItem2"
    "partnersItem3"
    "partnersItem4"
    "contactItem1"
    "contactItem2"
    "contactItem3"
    "contactItem4";
  grid-gap: 1em;
  margin: auto;
}

.grid-item {
  box-shadow: 0 0 5px #b7b7b7;
  text-align: justify;
  background-color: $color-7;
}
.home-logo {
  grid-area: homeLogo;
  background-color: $color-7;
  padding: 1em;
  border: solid 10px $color-1;
  overflow: hidden;
}
.home-container {
  img {
    height: 9em;
    margin: 2em auto 1em 50%;
    transform: translateX(-50%);
  }
  h2 {
    text-align: center;
    color: $color-1;
    font-family: $heading-font;
    font-size: 1.8em;
    margin-bottom: 1em;
  }
}
.home-intro {
  grid-area: homeIntro;
  padding: 2em;
  p:nth-last-of-type(1) {
    margin-top: 2em;
  }
}
.goals-header {
  background-color: $color-2;
  grid-area: goalsHeader;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-header {
  color: $white-color;
  font-size: 2em;
  font-family: $heading-font;
}

// GOALS SECTION ON HOMEPAGE

@for $i from 1 through 8 {
  .goals-item-#{$i} {
    grid-area: goalsItem#{$i};
  }
}
.goals-list {
  display: flex;
  flex-direction: column;
  padding: 1em;
  text-align: center;
  img {
    height: 8em;
    margin-top: 2em;
  }
  p {
    margin-top: 1em;
  }
}
.goals-button {
  background: $color-7;
  border: solid 10px $color-2;
  text-align: center;
  font-family: $heading-font;
  font-size: 2.5em;
  font-weight: bold;
  &:hover {
    box-shadow: $hoverShadow;
    transition: $hoverTransition;
  }
  a {
    color: $color-2;
    text-decoration: none;
  }
}

// EVENTS SECTION ON HOMEPAGE

.events-header {
  grid-area: eventsHeader;
  background-color: $color-3;
  h2 {
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
@for $i from 1 through 4 {
  .event-item-#{$i} {
    grid-area: eventItem#{$i};
  }
}
.event-list {
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3,
  p {
    padding: 1em;
  }
  img {
    width: 100%;
    object-fit: contain;
  }
}
.event-button {
  text-align: center;
  font-family: $heading-font;
  font-size: 2.5em;
  font-weight: bold;
  border: solid 10px $color-3;
  &:hover {
    box-shadow: $hoverShadow;
    transition: $hoverTransition;
  }
  a {
    text-decoration: none;
    color: $color-3;
  }
}

// TESTIMONIALS SECTION ON HOMEPAGE

.testimonials-header {
  grid-area: testimonialsHeader;
  background-color: $color-4;
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials-item-1 {
  grid-area: testimonialsItem1;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.quote-icon {
  font-size: 3em;
  margin: 0.3em auto 0 auto;
}
.slick-slider {
  margin: 2em;
  text-align: center;
}
.testimonials-button {
  grid-area: testimonialsButton;
  border: solid 10px $color-4;
  background-color: $color-7;
  text-align: center;
  font-size: 2.5em;
  a {
    color: $color-4;
    text-decoration: none;
  }
}

// PARTNERS SECTION ON HOMEPAGE

@for $i from 1 through 4 {
  .partners-item-#{$i} {
    grid-area: partnersItem#{$i};
  }
}
.partners-item-1 {
  background-color: $color-5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.partners-item-2,
.partners-item-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    img {
      width: 100%;
      padding: 1em;
    }
  }
}
.partners-button {
  background-color: $color-7;
  border: solid 10px $color-5;
  text-align: center;
  font-size: 2.5em;
  a {
    color: $color-5;
    text-decoration: none;
  }
}

// CONTACT SECTION ON HOMEPAGE

@for $i from 1 through 3 {
  .contact-item-#{$i} {
    grid-area: contactItem#{$i};
  }
}
.contact-item-1 {
  background-color: $color-6;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-item-2 {
  display: flex;
  flex-direction: column;
  padding: 1em;
  p {
    margin: 1em 0 2em 0;
  }
  h3 {
    margin: 1em 0;
  }
  .contact-telephone {
    margin-top: 1em;
  }
}
.contact-telephone,
.contact-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
}
.contact-button {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: solid 10px $color-6;
  text-align: center;
  cursor: pointer;
  img {
    height: 10em;
  }
  a {
    color: $color-6;
    text-decoration: none;
    font-size: 2.5em;
    font-weight: bold;
  }
}

// CAROUSEL

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.slider-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: scale;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}
@keyframes scale {
  0% {
    transform: scale(1);
    background-image: url("../img/carousel/golf-carousel-320x480.jpg");
  }
  24% {
    transform: scale(1.5);
    background-image: url("../img/carousel/golf-carousel-320x480.jpg");
  }
  25% {
    transform: scale(1);
    background-image: url("../img/carousel/football-carousel-320x480.jpg");
  }
  49% {
    transform: scale(1.5);
    background-image: url("../img/carousel/football-carousel-320x480.jpg");
  }
  50% {
    transform: scale(1);
    background-image: url("../img/carousel/golf-carousel-2-320x480.jpg");
  }
  74% {
    transform: scale(1.5);
    background-image: url("../img/carousel/golf-carousel-2-320x480.jpg");
  }
  75% {
    transform: scale(1);
    background-image: url("../img/carousel/football-carousel-2-320x480.jpg");
  }
  100% {
    transform: scale(1.5);
    background-image: url("../img/carousel/football-carousel-2-320x480.jpg");
  }
}
.logo-reversed {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.2;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: $heading-font;
  font-size: 1em;
  color: $white-color;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;;
  padding: 1em;
  min-width: 80%;
  line-height: 1.5;
  font-style: italic;
  border: solid 2px #fff;
}
.btn-primary {
  margin: 2em auto 1em auto;
  padding: 1.5em 3em;
  background-color: $color-5;
  color: $white-color;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  a{
    color: #fff;
    text-decoration: none;
  }
}
.btn-carousel {
  vertical-align: middle;
  font-size: 1.3em;
  margin-left: 3px;
  color: $white-color;
}

// EAGLE

.eagle {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0.2;
}

// FOOTER

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 1em;
  padding: 1em;
  text-align: center;
  flex-direction: column;
  font-size: 0.8em;
  background: linear-gradient(rgba(20, 37, 63, 0.8), rgba(20, 37, 63, 1));
  color: $white-color;
  .copyright {
    width: 100%;
  }
  .credit {
    width: 100%;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        img {
          height: 20px;
        }
      }
    }
  }
}

// ETHOS COMPONENT

.ethos-container {
  width: 100%;
  display: grid;
  margin: 15vh auto 0 auto;
  grid-template-columns: 300px;
  grid-template-rows:  300px 600px repeat(4, 300px);
  grid-gap: 1em;
  grid-template-areas:
    "ethosItem1"
    "ethosItem2"
    "ethosItem3"
    "ethosItem4"
    "ethosItem5"
    "ethosItem6";
  justify-content: center;
}

@for $i from 1 through 6 {
  .ethos-item-#{$i} {
    grid-area: ethosItem#{$i};
  }
}
.ethos-item-1 {
  background-color: $color-2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ethos-item-2 {
  padding: 2em;
  p {
    margin-top: 1em;
  }
}
.ethos-item-3 {
  background-color: $color-3;
}
.ethos-item-4 {
  background-color: $color-4;
}
.ethos-item-5 {
  background-color: $color-5;
}
.ethos-item-6 {
  background-color: $color-6;
}
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-family: $heading-font;
    font-size: 9em;
    color: $white-color;
  }
  p {
    font-size: 2.7em;
    color: $white-color;
  }
}

// EVENTS COMPONENT 

.events-container {
  width: 100%;
  display: grid;
  margin: 15vh auto 0 auto;
  grid-template-columns: 300px;
  grid-template-rows: 300px auto 300px;
  grid-gap: 1em;
  grid-template-areas:
    "eventsItem1"
    "eventsItem2"
    "eventsItem3";
  justify-content: center;
}
@for $i from 1 through 3 {
  .events-item-#{$i} {
    grid-area: eventsItem#{$i};
  }
}
.events-item-1 {
  background-color: $color-3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.events-item-2 {
  padding: 1em;
  p {
    margin-top: 1em;
  }
}
.events-item-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  .sos {
    width: 100%;
  }
  .olympics {
    height: 60%;
  }
}

// TESTIMONIALS COMPONENT 

.testimonial-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15vh auto 0 auto;
  width: 300px;
  justify-content: center;
}
.testimonial-item-1 {
  grid-area: testimonialItem1;
  background-color: $color-4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  width: 300px;
  height: 300px;
}
.collapsible {
  background: $color-7;
  color: white;
  cursor: pointer;
  padding: 1em;
  width: 300px;
  height: 300px;
  border: none;
  text-align: center;
  outline: none;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  h2 {
    font-family: $heading-font;
    font-size: 1.3em;
  }
  hr {
    width: 250px;;
    color: #000;
    margin: 1em;
  }
}

.collapsible:hover,
.collapsible:focus {
 opacity: 0.8;
}
.collapsible:after {
  content: "\2304"; /* Character for arrow down symbol */
  font-size: 2em;
  text-align: center;
}
.active-testimonial:after {
  content: "\2303"; /* Character for arrow up symbol */
  font-size: 2em;
  text-align: center;
}

.position {
  height: 2.5em;
}

.content {
  padding: 0 1em;
  overflow: hidden;
  background-color: #f1f1f1;
  max-height: 0;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: max-height 0.3s ease-out;
  p {
    padding: 2em 0;
  }
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 1em;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}
// PARTNERS COMPONENT

@for $i from 1 through 8 {
  .our-partners-item-#{$i} {
    grid-area: ourPartnersItem#{$i};
    padding: 1em;
  }
}
.our-partners-container {
  width: 100%;
  display: grid;
  margin: 15vh auto 0 auto;
  grid-template-columns: 300px;
  grid-template-rows: repeat(3, 300px) 460px repeat(2, 300px) 450px 300px;
  grid-gap: 1em;
  grid-template-areas:
    "ourPartnersItem1"
    "ourPartnersItem2"
    "ourPartnersItem3"
    "ourPartnersItem4"
    "ourPartnersItem5"
    "ourPartnersItem6"
    "ourPartnersItem7"
    "ourPartnersItem8";
  justify-content: center;
}
.our-partners-item-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-5;
  text-align: center; 
}
.our-partners-item-2, .our-partners-item-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: auto;
  }
}
.our-partners-item-4 {
  p {
    margin-top: 1em;
  }
}
.our-partners-item-5 {
  border: solid 10px $color-5;
  font-family: $heading-font;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  a {
    color: $color-5;
    text-decoration: none;
  }
}
.our-partners-item-7 {
  p {
    margin-top: 1em;
  }
}
.our-partners-item-8 {
  border: solid 10px $color-6;
  font-family: $heading-font;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  a {
    color: $color-6;
    text-decoration: none;
  }

}

// CONTACT COMPONENT

.contact-container {
  width: 100%;
  display: grid;
  margin: 15vh auto 0 auto;
  grid-template-columns: 300px;
  grid-template-rows: repeat(2, 300px) 650px;
  grid-gap: 1em;
  grid-template-areas:
    "contactUsItem1"
    "contactItem2"
    "contactUsItem3";
  justify-content: center;
}
.contact-us-item-1 {
  grid-area: contactUsItem1;
  background-color: $color-6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us-item-3 {
  grid-area: contactUsItem3;
  padding: 1em;
  h3 {
    margin: 1em 0;
  }
}
.contact-form {
  display: flex;
  flex-direction: column;
  label {
    font-size: 1em;
    margin: 1em 0;
  }
  input {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 3px rgba(0, 0, 0, 0.4);
    margin-top: 1em;
    font-size: 1em;
  }
}
::placeholder {
  font-style: italic;
  text-align: right;
  margin-bottom: 0.5em;
}

// Skip link

.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  color: #fff;
  z-index: 100000;
  background: #000;
  text-decoration: none;
  transform: translateX(-500px);
  &:focus {
    transform: translateX(0);
    transition: transform 0.3 ease-out;
  }
}

// Hover effects

.goals-button,
.event-button,
.btn-primary,
.testimonials-button,
.partners-button,
.contact-button,
.our-partners-item-5,
.our-partners-item-8 {
  &:hover,
  &:focus {
    box-shadow: $hoverShadow;
    transition: $hoverTransition;
  }
  a:hover,
  a:focus {
    color: $hoverColor;
  }
}
.partners-item-2,
.partners-item-3 {
  a {
    &:focus {
      box-shadow: $hoverShadow;
      transition: $hoverTransition;
    }
  }
}
.myLogo {
  &:hover,
  &:focus {
    box-shadow: $hoverShadow;
    transition: $hoverTransition;
    opacity: 0.6;
  }
}
:focus {
  outline: none;
}
.contact-form {
  input {
    &:focus {
      border-bottom: solid 3px $hoverColor;
    }
  }
}
