@media screen and (min-width: 400px) and (orientation: landscape) {
  .header-main {
    h1 {
      display: block;
    }
  }
  .hero-text {
    h2 {
      font-size: 1em;
    }
    .btn-primary {
      padding: 1em 3em;
    }
  }
  .ethos-container,
  .events-container,
  .testimonial-container,
  .our-partners-container,
  .contact-container {
    margin: 22vh auto 0 auto;
  }
  .nav-main {
    a {
      padding: 0.6em;
    }
  }
}

@media screen and (min-width: 360px) and (orientation: portrait) {
  .header-main {
    h1 {
      display: block;
    }
  }
  .ethos-container,
  .events-container,
  .testimonial-container,
  .our-partners-container,
  .contact-container {
    margin: 13vh auto 0 auto;
  }
}
@media screen and (min-width: 640px) and (orientation: landscape) {
  .contact-us-item-3 {
    label {
      margin: 0.7em 0;
    }
  }
}
/* 
Fix for Pixel 2, Pixel 2 XL and iPnone X and portrait orientation
*/
@media screen and (min-width: 375px) and (min-height: 730px) {
  .nav-main {
    top: 10%;
  }
  .ethos-container,
  .events-container,
  .testimonial-container,
  .our-partners-container,
  .contact-container {
    margin: 10vh auto 0 auto;
  }
}
/* Fix for Nokia N9 */
@media screen and (width: 854px) and (height: 480px) and (orientation: landscape) {
  .hero-text h2 {
    font-size: 1.5em;
  }
  .ethos-container,
  .events-container,
  .testimonial-container,
  .our-partners-container,
  .contact-container {
    margin: 17vh auto 0 auto;
  }
}

/* Fix for Nexus 7 and Blackberry Playbook */

@media screen and (min-width: 600px) and (min-height: 960px) and (orientation: portrait) {
  .nav-main {
    top: 8%;
  }
  .ethos-container,
  .events-container,
  .testimonial-container,
  .our-partners-container,
  .contact-container {
    margin: 8vh auto 0 auto;
  }
}
@media screen and (min-width: 960px) and (min-height: 600px) and (orientation: landscape) {
  .hero-text h2 {
    font-size: 1.5em;
  }
  .ethos-container,
  .events-container,
  .testimonial-container,
  .our-partners-container,
  .contact-container {
    margin: 13vh auto 0 auto;
  }
}

/* 2 columns grid design for devices with min-width 640px */

@media screen and (min-width: 640px) {
  .grid-container {
    width: 100%;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(10, 300px) auto repeat(4, 300px);
    grid-template-areas:
      "homeLogo homeIntro"
      "goalsHeader homeIntro"
      "goalsItem1 goalsItem2"
      "goalsItem3 goalsItem4"
      "goalsItem5 goalsItem6"
      "goalsItem7 goalsItem8"
      "eventsHeader eventItem1"
      "eventItem2 eventItem1"
      "eventItem3 eventItem4"
      "testimonialsHeader testimonialsButton"
      "testimonialsItem1 testimonialsItem1"
      "partnersItem1 partnersItem2"
      "partnersItem3 partnersItem4"
      "contactItem1 contactItem2"
      "contactItem3 contactItem3";
  }
  .ethos-container {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(4, 300px);
    grid-template-areas:
      "ethosItem1 ethosItem2"
      ". ethosItem2"
      "ethosItem3 ethosItem4"
      "ethosItem5 ethosItem6";
  }
  .events-container {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 300px) auto;
    grid-template-areas:
      "eventsItem1 eventsItem2"
      "eventsItem3 eventsItem2"
      ". eventsItem2";
    justify-content: center;
  }
  .event-list {
    justify-content: space-evenly;
  }
  .event-item-1 {
    h3 {
      font-size: 1.9em;
    }
  }
  .testimonial-container {
    width: 100%;
    max-width: 650px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .testimonial-item-1 {
    margin-top: 13px;
  }
  .testimonial-card {
    width: 300px;
  }
  .our-partners-container {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 300px) auto 300px auto;
    grid-template-areas:
      "ourPartnersItem1 ourPartnersItem2"
      "ourPartnersItem3 ourPartnersItem4"
      ". ourPartnersItem4"
      "ourPartnersItem5 ourPartnersItem6"
      "ourPartnersItem7 ourPartnersItem8";
  }
  .contact-container {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 300px auto;
    grid-template-areas:
      "contactUsItem3 contactUsItem1"
      "contactUsItem3 contactItem2";
  }
}
@media screen and (min-width: 1000px) {
  .grid-container {
    width: 100%;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(9, 300px);
    grid-template-areas:
      "homeLogo homeIntro homeIntro"
      "goalsHeader goalsItem1 goalsItem2"
      "goalsItem3 goalsItem4 goalsItem5"
      "goalsItem6 goalsItem7 goalsItem8"
      "eventsHeader eventItem1 eventItem1"
      "eventItem2 eventItem3 eventItem4"
      "testimonialsButton testimonialsItem1 testimonialsItem1"
      "partnersItem2 partnersItem3 partnersItem4"
      "contactItem1 contactItem2 contactItem3";
  }
  .home-intro {
    padding: 1.8em;
  }
  .partners-item-1,
  .testimonials-header {
    display: none;
  }
  .ethos-container {
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 300px);
    grid-template-areas:
      "ethosItem2 ethosItem2 ethosItem2 ethosItem1"
      "ethosItem3 ethosItem4 ethosItem5 ethosItem6";
  }
  .ethos-item-1 {
    h2 {
      font-size: 1.3em;
    }
  }
  .team p {
    font-size: 2em;
  }
  .events-container {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 300px 310px;
    grid-template-areas:
      "eventsItem1 eventsItem2 eventsItem2"
      "eventsItem3 eventsItem2 eventsItem2";
    justify-content: center;
  }
  .event-item-1 h3 {
    font-size: 1.6em;
  }
  .testimonial-container {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .testimonials-container {
    width: 100%;
  }
  .our-partners-container {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 300px) auto;
    grid-template-areas:
      "ourPartnersItem1 ourPartnersItem2 ourPartnersItem3"
      "ourPartnersItem4 ourPartnersItem4 ourPartnersItem5"
      "ourPartnersItem6 ourPartnersItem7 ourPartnersItem8"
      ".  ourPartnersItem7 .";
  }
  .contact-container {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 300px auto;
    grid-template-areas:
      "contactUsItem3 contactUsItem3 contactUsItem1"
      "contactUsItem3 contactUsItem3 contactItem2";
  }
  .contact-us-item-3 {
    padding: 2em;
  }
}

// Fix for tablets

@media screen and (min-width: 768px) {
  .hero-text {
    h2 {
      font-size: 3em;
    }
    .btn-primary {
      font-size: 1.5em;
    }
  }
  .grid-container,
  .ethos-container,
  .events-container,
  .testimonial-container,
  .our-partners-container,
  .contact-container {
    margin-bottom: 5em;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: row;
    .copyright {
      width: 70%;
      text-align: left;
      line-height: 1.8;
    }
    .credit {
      width: 26%;
      text-align: right;
      p {
        justify-content: flex-end;
      }
    }
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .ethos-container,
  .events-container,
  .testimonial-container,
  .our-partners-container,
  .contact-container {
    margin: 11vh auto 0 auto;
  }
  .grid-container,
  .ethos-container,
  .events-container,
  .testimonial-container,
  .our-partners-container,
  .contact-container {
    margin-bottom: 5em;
  }
  .testimonial-container {
    max-width: 950px;
  }
}
@media screen and (min-width: 1024px) {
  .nav {
    display: none;
  }
  .nav-main {
    display: inline-block;
    background: none;
    top: 0;
    right: 13em;
    padding: 1em;
    a {
      margin: 0 0.3em;
      line-height: 2;
      padding: 1em 0.5em;
    }
  }
}

// Design for laptops

@media screen and (min-width: 1280px) {
  html, body, #root, .App {
    font-size: 18px;
  }
  .logo {
    h1 {
      font-size: 2em;
    }
  }
  .nav-main {
    font-size: 1.2em;
    right: 8em;
  }
  .grid-container {
    width: 100%;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(9, 400px);
  }
  .home-container {
    img {
      height: 12em;
      margin-top: 2em;
    }
    h2 {
      font-size: 2em;
    }
  }
  .goals-list {
    img {
      height: 9em;
    }
    p {
      margin-top: 3em;
    }
  }
  .goals-button {
    font-size: 3em;
  }
  .contact-button {
    img {
      height: 13em;
    }
    a {
      font-size: 3em;
    }
  }
  .ethos-container {
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 300px);
  }
  .ethos-item-2 {
    padding: 1.4em;
  }
  .events-container {
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 400px);
  }
  .events-item-2 {
    padding: 3em;
  }
  .testimonial-container {
    max-width: 1280px;
  }
  .testimonial-card {
    width: 400px;
  }
  .testimonial-item-1,
  .collapsible {
    width: 400px;
    height: 400px;
  }
  .avatar {
    width: 120px;
    height: 119px;
    margin: 2em;
  }
  .collapsible {
    h2 {
      font-size: 2em;
    }
  }
  .our-partners-container {
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 400px);
    grid-template-areas:
      "ourPartnersItem1 ourPartnersItem2 ourPartnersItem3"
      "ourPartnersItem4 ourPartnersItem4 ourPartnersItem5"
      "ourPartnersItem6 ourPartnersItem7 ourPartnersItem8";
  }
  .our-partners-item-3,
  .our-partners-item-4 {
    padding: 2em;
  }
  .our-partners-item-7 {
    p {
      margin-top: 0.3em;
    }
  }
  .contact-container {
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 400px auto;
    grid-template-areas:
      "contactUsItem3 contactUsItem3 contactUsItem1"
      "contactUsItem3 contactUsItem3 contactItem2";
  }
}

// RESPONSIVE CAROUSEL

@media screen and (min-width: 480px) and (min-height: 320px) {
  @keyframes scale {
    0% {
      transform: scale(1);
      background-image: url("../img/carousel//golf-carousel-480x320.jpg");
    }
    24% {
      transform: scale(1.5);
      background-image: url("../img/carousel/golf-carousel-480x320.jpg");
    }
    25% {
      transform: scale(1);
      background-image: url("../img/carousel/football-carousel-480x320.jpg");
    }
    49% {
      transform: scale(1.5);
      background-image: url("../img/carousel/football-carousel-480x320.jpg");
    }
    50% {
      transform: scale(1);
      background-image: url("../img/carousel/golf-carousel-2-480x320.jpg");
    }
    74% {
      transform: scale(1.5);
      background-image: url("../img/carousel/golf-carousel-2-480x320.jpg");
    }
    75% {
      transform: scale(1);
      background-image: url("../img/carousel/football-carousel-2-480x320.jpg");
    }
    100% {
      transform: scale(1.5);
      background-image: url("../img/carousel/football-carousel-2-480x320.jpg");
    }
  }
}
